// VARIABLES ---------------------------------

$color-primary: rgb(35, 149, 255);
$color-shade: rgb(31, 30, 30);

$font-Roboto: 'Roboto', sans-serif;


#roller-container {
    display: float;
    margin: 180px auto;
    width: 780px;
    height: 100px;
    perspective: 1000px;
    background-color: $color-shade;
    // box-shadow: 0 -50px 180px 80px $color-shade;
}

.roller {
    margin: 0 auto;
    transition: transform 1.75s ease-in-out;
    transform-style: preserve-3d;
    &:hover {
    transform: rotateX(-270deg);
    }
    &-face {
        width: 780px;
        height: 200px;
        display: block;
        position: absolute;
    }
}

#roller-front {
    color: white;
    text-align: center;
    transform: translate3d(0, -100px, 100px);
    background-color: $color-primary;
    h1 {
        margin-top: 80px;
        font-family: $font-Roboto;
        font-weight: 400;
    }
}

#roller-bottom {
    transform: translate3d(0, 0px, 0px) rotateX(-90deg);
}

#roller-back {
    transform: translate3d(0, -100px, -100px) rotateX(-180deg);
}

#roller-top {
    transform: translate3d(0, -200px, 0px) rotateX(90deg);
}